@font-face{
    font-family: 'justice_leagueregular';
    src: url('./img/justice_league-webfont.woff2') format('woff2'),
         url('./img/justice_league-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}